*{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.recipe_list{
    margin: 20px auto;
}

h1{
    background-color: bisque;
    padding: 16px 8px;
    text-align: center;
}
img{ 
    display: block;
    margin: 20px auto;
    
}